.box{
    width: 55%;
    float: left;
    padding:25px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 15px;
    border:3px solid;
    border-radius:1em;
    box-shadow: 6px 6px 4px grey;
}
.box img{
    height:200px;
    width:auto;
    padding:0;
}
.box h3{
    padding-bottom:5px;
}
.clearfix{
    clear:both;
}
main h2{
    padding:10px;
}
main p{
    padding-bottom:20px;
}
